<?xml version="1.0" encoding="utf-8"?>
<configuration><connectionStrings>
<add name="DefaultConnection" connectionString="Server=DESKTOP-59BVITD;Database=A1Lands;Trusted_Connection=True;TrustServerCertificate=True;" />
<add name="DefaultConnection2" connectionString="Server=172.32.3.143;Database=A1Lands;User Id=usrjccl;Password=ujccl;TrustServerCertificate=True;" />
</connectionStrings></configuration>
 